<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Réinitialisation de mot de passe</title>
</head>
<body>
    <h1>Bonjour {{name}},</h1>
    <p>Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous pour définir un nouveau mot de passe :</p>
    <p><a href="{{resetUrl}}">Réinitialiser mon mot de passe</a></p>
</body>
</html> 